* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
  border-bottom: 2px solid #0d6efd;
}

.header1 {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;

}


.header img {
  height: 40px;
  margin-right: 10px;
  width: 40px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  gap: 25px;

}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #3b82f6 !important;
}


.hero {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  flex-wrap: wrap;
}

.profile-img img {
  width: 230px;
  height: 230px;
  border-radius: 50%;

}

.intro-text {
  max-width: 600px;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: bold;
}

.intro-text h2 {
  font-size: 22px;
  color: #aaa;
  margin: 10px 0;
}

.intro-text p {
  margin: 20px 0;
  font-size: 16px;
  color: #ccc;
}

.btn {
  display: inline-block;
  background-color: #3b82f6;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;

}

.btn:hover {
  background-color: #2563eb;
}


.Experiences {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  flex-wrap: wrap;
  background-color: #090909;
}

.Experience1-box {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  min-width: 180px;
}

.Experience1-box h3 {
  color: #0062ff;
  font-size: 32px;
  margin-bottom: 10px;
}

.Experience1-box p {
  color: #ccc;
  font-size: 14px;
}

.about-me {
  background-color: #1a1a1a;
  color: #fff;
  padding: 60px 40px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 420px;
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 30px;
}


.projects-section {
  background-color: #1a1a1a;
  color: #fff;
  padding: 60px 40px;
  text-align: center;
}

.projects-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: #242424;
  border-radius: 16px;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.tags span {
  background-color: #0f4fe6;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 20px;
  color: #fff;
}

.project-info a {
  color: #3a9eff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.blog-section {
  background-color: #121212;
  color: #fff;
  padding: 60px 40px;
}

.blog-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: left;
}

.blog-card {
  background-color: #1e1e1e;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.blog-text {
  padding: 25px;
}

.blog-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.blog-text p {
  font-size: 16px;
  color: #bbbbbb;
  margin-bottom: 16px;
  line-height: 1.6;
}

.read-more {
  text-decoration: none;
  color: #4da6ff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: #1e90ff;
}

.contact-section {
  background-color: #0d0d0d;
  color: #fff;
  padding: 80px 40px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-info h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  color: #bbb;
  margin-bottom: 25px;
  line-height: 1.6;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.contact-info ul li {
  margin-bottom: 12px;
  font-size: 16px;
}

.contact-info ul li i {
  margin-right: 10px;
  color: #4da6ff;
}

.contact-socials img {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  transition: background-color 0.3s;
}

.contact-socials a:hover {
  background-color: #4da6ff;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form input {
  padding: 14px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;

}

.contact-form textarea {
  padding: 14px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
}

.contact-form button {
  padding: 14px;
  background-color: #4da6ff;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  font-weight: 450px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #1e90ff;
}

footer {
  background-color: #0f1115;
  color: #ccc;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;


}

.footer hr {
  border: 1px solid #ffffff;
  margin: 20px 0;

}

.footer1 {
  flex: 1;
  min-width: 200px;
  margin: 40px;
  padding-right: 19px;
}

.footer1 ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer1 ul {
  list-style: none;
  padding: 0;
}

.copyright {
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
  }

  .intro-text h1 {
    font-size: 36px;
  }

  .intro-text h2 {
    font-size: 18px;
  }

  .about-container {
    flex-direction: column;
    padding: 0;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .contact-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer1 {
    margin: 20px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .header1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .intro-text h1 {
    font-size: 28px;
  }

  .intro-text h2 {
    font-size: 16px;
  }

  .intro-text p {
    font-size: 14px;
  }

  .btn {
    padding: 10px 18px;
    font-size: 14px;
  }

  .Experience1-box h3 {
    font-size: 24px;
  }

  .Experience1-box p {
    font-size: 13px;
  }

  .about-image img {
    width: 100%;
  }

  .project-info h3 {
    font-size: 18px;
  }

  .project-info p,
  .blog-text p,
  .contact-info p {
    font-size: 14px;
  }

  .blog-text h3,
  .contact-info h2,
  .about-text h2,
  .projects-section h2,
  .blog-section h2 {
    font-size: 24px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    font-size: 14px;
  }

  .contact-socials img {
    height: 30px;
  }
}